doctype html
html
  head
    meta(charset="utf-8")
    title Puppies and Ang Ku Kueh
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i") 
    link(rel="stylesheet", href="app.css")
  body
    div.game
      div.intro
        h1 
          | Puppies and 
          span.kueh Ang Ku Kueh
        p a GET1029 Life, the Universe and Everything Project
        p inspired by 
          a(href="https://herringblue.github.io/content/train/index.html")
            em The Train 
            | by Ivan Chuang
        a.button.button-primary.start-game(href="#start") Start
    div.story
      include:story:commonmark(safe=false) story.md
      hr
    
    script(src="app.js")
