doctype html
html
  head
    meta(charset="utf-8")
    title Puppies and Ang Ku Kueh
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="app.css")
  body
    div.game
      div.intro.chunk
        h1 Puppies and Ang Ku Kueh
        a.button.button-primary.start-game(href="#start") Start
    div.story
      include:story:commonmark(safe=false) story.md
      hr
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="app.js")
