$brand-primary: #1EAEDB;


a {
  transition: 0.2s all;
}

.story {
  display: none;
}

.game {
  max-width: 540px;
  margin: 0 auto 100px;
}

.chunk {
  font-size: 20px;
  line-height: 1.3;
  transition: 1.6s all;
  
  &.passed-1 { opacity: 0.8; }
  &.passed-2 { opacity: 0.6; }
  &.passed-3 { opacity: 0.4; }
  &.passed-4 { opacity: 0.25; }
  
  p, ul, ol {
    margin: 1em 0;
  }
  
  li {
    margin: 0.7em 0;
  }
  
  ul, ol {
    list-style: none;
    text-align: center;
  }
  
  p, li {
    transition: 1.2s all;
    opacity: 0;
    pointer-events: none;
    
    &.pass {
      pointer-events: auto;
      opacity: 1;
    }
  }
  
  a {
    text-decoration: none;
    border-bottom: 1px solid rgba($brand-primary, 0.2);
    
    &:hover, &:focus {
      border-color: $brand-primary;
    }
    
    &:focus, &:active {
      outline: none;
    }
  }
}

.intro {
  padding: 100px 0 20px;
  
  &.passed-1 {
    opacity: 0.2;
  }
}

.start-game {
  font-size: 24px;
  padding: 12px 24px;
  height: 64px;
}
