.story {
  display: none;
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.chunk {
  padding-bottom: 200px;
}

.intro {
  padding: 100px 0 200px;
  text-align: center;
}

.start-game {
  font-size: 24px;
  padding: 12px 24px;
  height: 64px;
}
