$brand-primary: #1EAEDB;
$brand-blood: #f44336;
$font-family-serif: Georgia, serif;
$font-family-sans-serif: Source Sans Pro, sans-serif;

a {
  transition: 0.2s all;
}

h1 {
  font-weight: 300;
  
  .kueh {
    color: $brand-blood;
  }
}

.story {
  display: none;
}

.game {
  max-width: 600px;
  margin: 0 auto 100px;
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

.chunk {
  font-size: 20px;
  line-height: 1.3;
  transition: 1.6s all;
  
  &.passed-1 { opacity: 0.8; }
  &.passed-2 { opacity: 0.6; }
  &.passed-3 { opacity: 0.4; }
  &.passed-4 { opacity: 0.25; }
  
  p, ul, ol {
    margin: 1em 0;
  }
  
  li {
    margin: 0.4em 0;
  }
  
  ul, ol {
    list-style: none;
    text-align: center;
  }
  
  p, li {
    transition: 1.2s all;
    opacity: 0;
    pointer-events: none;
    
    &.pass {
      pointer-events: auto;
      opacity: 1;
    }
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    padding: 1px 12px 3px;
    border-bottom: 1px solid rgba($brand-primary, 0.2);
    
    &:hover, &:focus {
      border-color: $brand-primary;
      background: rgba($brand-primary, 0.08);
    }
    
    &:focus, &:active {
      outline: none;
    }
  }
}

.intro {
  padding: 100px 0 20px;
  
  &.passed-1 {
    opacity: 0.2;
  }
}

.start-game {
  font-size: 24px;
  padding: 12px 24px;
  height: 64px;
}

.ending {
  font-size: 45px;
  text-align: center;
  font-family: $font-family-serif;
  font-style: italic;
  color: $brand-blood;
}
